:root{
    --nice-green:rgba(247, 247, 247, 0.992);
    --container-green:rgba(255, 201, 77, 0.803);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reg-interface{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.form-container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    background-color: var(--container-green);
    margin: auto;
    align-items: center;
    border-radius: 1.5rem;
    height: 65%;
    width:auto;
    margin-bottom: .5rem;
}

.form-item{
    display:block;
    margin:0.8rem;
    border:hidden;
    border-radius: 1rem;
    width:20vw;
    height:5vh;
}

.left-side{
    background-color: var(--nice-green);
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-self: center;
    height:100vh;
    margin:0;
}

.create-acc{
    color:white;
    margin-bottom:0;
    font-size:1.7rem;
}

.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.send-reg-info{
    margin: 0.5rem auto;
    width:90%;
    height:2rem;
    background-color: rgb(255, 234, 187);
    border:hidden;
    border-radius:1rem;
    color:rgb(73, 73, 73);
    font-size:medium;
    letter-spacing: 0.1rem;
    position:relative;
}

.send-reg-info:hover{
    box-shadow: 10px 10px 0px rgba(103, 85, 61, 0.729);
    top: -5px;
    left: -5px;
    transition: .2s ease-in;
    z-index:1;
    background-color: rgb(184, 155, 74);
    color:white;
}

.send-reg-info::after,.send-reg-info::before{
    position:absolute;
    z-index:-1;
} 


.right-side{
    background-image: url(https://th.bing.com/th/id/OIG.L8D5rlCC7BV_gLNlrgN1?w=1024&h=1024&rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size:100% 100%;
    width:60%;
}

.form-item::placeholder{
    text-align:center;
}

.error-occurs{
    border-bottom:.2rem solid rgb(255, 52, 52);
}

.is-correct{
    border-bottom:.2rem solid rgb(0, 251, 0);
}

.error-text{
    color:rgb(255, 67, 67);
    font-weight: bold;
    margin:0;
}

.data-requirements{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:.5rem;
}

.req-capt{
    width:70%;
    margin-top:0;
    background-color:var(--container-green);
    color:rgb(28, 28, 28);
}

@media screen and (max-width: 767px){/*mobile device resolution*/
    .reg-interface{
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
    }

    .left-side{
        width:100%;
        height:100vh;
        background-image: url(https://th.bing.com/th/id/OIG.L8D5rlCC7BV_gLNlrgN1?w=1024&h=1024&rs=1&pid=ImgDetMain);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-self: center;
    }

    .form-container{
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        background-color: rgba(228, 160, 0, 0.764);
        align-items: center;
        border-radius: 1.5rem;
        height: 70%;
        width:80%;
        margin-bottom: auto;
    }

    .create-acc{
        color:rgb(251, 255, 249);
        margin-bottom:1rem;
        font-size:2rem;
    }

    .login{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width:80%;
        height:70%
    }

    .form-item{
        display:block;
        margin:0.8rem;
        border:1px ;
        border-radius: 1rem;
        width:100%;
        height:5vh;

    }
    
    .send-reg-info{
        margin: 0.5rem auto;
        width:100%;
        height:2rem;
        background-color: rgb(255, 248, 218);
        border:hidden;
        border-radius:1rem;
        color:rgb(73, 73, 73);
        font-size:medium;
        letter-spacing: 0.1rem;
        position:relative;
    }

    .send-reg-info:hover{
        box-shadow: 10px 10px 0px rgba(103, 90, 61, 0.729);
        top: -5px;
        left: -5px;
        transition: .2s ease-in;
        z-index:1;
        background-color: rgb(187, 128, 33);
        color:white;
    }

    .send-reg-info::after,.send-reg-info::before{
        position:absolute;
        z-index:-1;
    }

    .right-side{
        display:none;
    }

    .form-item::placeholder{
        text-align:center;
    }
    
    .error-occurs{
        border-bottom:.2rem solid rgb(255, 52, 52);
    }
    
    .is-correct{
        border-bottom:.2rem solid rgb(0, 251, 0);
    }
    
    .error-text{
        color:rgb(255, 67, 67);
        font-weight: bold;
        margin:0;
    }

    .data-requirements{
        display:hidden;
    }
    .req-capt{
        display:none;
    }
}

@media screen and (min-width: 767px) and (max-width:1023px){/*tablet resolution*/
    .left-side{
        background-color: rgb(246, 246, 246);
    }

    .form-container{
        width:95%;
        height:65%;
        justify-content: space-evenly;
        background-color: rgb(255, 191, 112);
    }
    .create-acc{
        font-size:2.2rem;
        color:rgb(163, 92, 5);
    }

    .login{
        width:95%;
        justify-content: center;
        align-items: center;;
    }

    .form-item{
        width:98%;
    }

    .send-reg-info{
        width:100%;
        height:2.4rem;
        background-color: rgb(226, 146, 47);
        color:rgb(33, 33, 33);
        font-weight: bold;
    }

    .send-reg-info:hover{
        box-shadow: 10px 10px 0px rgba(34, 32, 27, 0.729);
        background-color: rgb(174, 112, 12);
        color:white;
    }

    .req-capt{
        width:95%;
        background-color: rgb(255, 177, 83);
    }
}