body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h_and_nav{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: linear-gradient(90deg, rgb(176, 132, 0),rgb(253, 239, 175));
    border:none;
}

.falcon_capital{
    color:rgb(238, 238, 238);
    font-size:2.3rem;
    margin-left:10%;
}

.nav_container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background: rgb(176, 132, 0);
}

.direct{
    color:white;
    text-decoration:none;
    margin: 0;
    font-size:1.2rem;
    border:none;
    padding:0.8rem;
}

.direct:hover{
    background-color: rgb(227, 196, 59);
    color:rgb(73, 73, 73);
    height: fit-content;
}

.new-acc{
    width:100%;
    height: 80vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background: url("https://th.bing.com/th/id/OIG3.3j_4lk04ZhGm8HaKSHFI?w=1024&h=1024&rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.acc-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:50%;
    height: 70%;
    background-color: rgba(255, 228, 196, 0.873);
    border:none;
    border-radius:1.5rem;
    
}

.new-acc-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    border:none;
    height: 100%;
    width:100%;
}

.am-capt{
    margin-bottom:0;
}

.money-inp{
    width:75%;
    height: auto;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border:none;
    background-color: rgb(255, 255, 255);
}

.deposit-container{
    display:flex;
    border:none;
    width:95%;
    height: 2.5rem;
}

.select-curr{
    width:25%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border:none;
    background-color: rgb(255, 195, 116);
    color:rgb(92, 90, 87);
    font-weight: bold;
}

.select-curr:hover{
    background-color: rgb(255, 195, 14);
    color:white
}

.create-account-button{
    width:60%;
    height: 2.2rem;
    border:none;
    background-color: rgb(231, 182, 60);
    border-radius:0.2rem;
    color:rgb(85, 85, 85);
}

.create-account-button:hover{
    transition-property:all;
    background-color: rgb(255, 166, 0);
    color:white;
    transition-duration:1s;
    transition-timing-function: ease-in;
}

.balance-container{
    border:1rem solid;
    width: 11rem;
    height: 23rem;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:1rem;
    border-color:rgb(255, 170, 0);
    color:rgb(72, 72, 72);
    background-color:rgb(255, 240, 220);
}

.balnce-currency{
    font-size:1.8rem;
    margin-bottom:0;
}

.balnce-currency .balance{
    font-weight: bold;
}

.balance-capt{
    font-size:0.6rem;
    margin-top:0;
    color:rgb(239, 121, 36);
}

.actually-here{
    background-color: rgb(255, 204, 143);
    color:rgb(163, 122, 122);
}